{
  "presets": ["react-app"],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "components": "./src/components",
          "assets": "./src/assets",
          "routes": "./src/routes",
          "contexts": "./src/contexts",
          "shared-hooks": "./src/shared-hooks",
          "utils": "./src/utils"
        }
      }
    ]
  ]
}
